html{
    --text-color: rgb(233, 190, 17);
}
h1{
    color: red;
    color: rgb(244, 240, 0);
    color: #abccde;
    color: #acd;
    color: fuchsia;
    color: rgb(23, 65, 1);
    background-color: khaki;
    color: var(--text-color);
}
section:first-of-type{
    background-image: linear-gradient(-45deg, green 40%, blue 40%);
    background-image: linear-gradient(90deg, violet 35%, crimson 35%, crimson 35%, fuchsia 80%);
    background-image: linear-gradient(to bottom right, purple 50%, var(--text-color) 50% );
}